@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default;
}

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-noto-thai), ui-sans-serif, system-ui, sans-serif;
}

/* Hide scrollbar utility for kiosk fullscreen */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
